.wrap {
    display: block;
    max-width: $fullWidth;
    margin: 0 auto;
}

.col, .col-two, .col-three, .col-four {
    float: left;
}

.col {
    width: 100%;
    &-two {
        width: 50%;
    }
    &-three {
        width: 33%;
    }
    &-four {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .col, .col-two, .col-three, .col-four {
        float: none;
        width: 100%;
    }
}