.twitter {
    border: 1px solid $twitter;
    border-radius: 3px;
    margin: 0 0 20px;
    padding: 15px;
    
    &-icon {
        position: absolute;
        top: -14px;
        width: 28px;
        z-index: 99;
    }

    &-head {
        color: $twitter;
    }

    &-tweet {
        margin: 0;
    }
}